{% extends "base.html" %}

{% block content %}

  <h1 class="text-white pt-3 mt-n5">Types of Dishes</h1>

  {% if dishtype_list %}
    <table class="table text-white border my-5">
      <tr class="fs-4">
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

    {% for dish_type in dishtype_list %}
      <tr class="fs-6">
        <td>
          {{ dish_type.id }}
        </td>
        <td>
          {{ dish_type.name }}
        </td>
        <td>
          <a href="{% url "kitchen_app:dishtype-update" pk=dish_type.id %}" class="btn-outline-light text-white">
            Update
          </a>
        </td>
        <td>
          <a href="{% url "kitchen_app:dishtype-delete" pk=dish_type.id %}" class="btn-outline-light text-white">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}

    </table>
  {% else %}
    <h2 class="text-white pt-3 mt-n5">There is no any dish types</h2>
  {% endif %}

  <a href="{% url "kitchen_app:dishtype-create" %}" class="btn btn-primary link-to-page">
      Create new type
    </a>



{% endblock content %}