{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="text-white pt-3 mt-n5">{{ object|yesno:"Update,Create" }} ingredient</h1>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card p-4 shadow-lg">
          <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Submit" class="btn btn-primary mt-5">
            <a href="{% url "kitchen_app:ingredient-list" %}" class="btn btn-secondary mt-5">Back</a>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
